.table {
  max-width: 800px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-header {
  background-color: #313131;
  color: #fff;
  font-weight: 700;
}

.table-row:nth-child(even) {
  background-color: #cdcccc;
}

.table-cell {
  border: 2px solid #000000;
  padding: 8px 20px;
  width: calc(100% / 3);
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
